body{
    background-image: url(city.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid; */
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}